@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  width: 800px;
  height: 480px;
  padding: 20px;
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 150px;
  height: 70px;
  /* background-color: red; */
}

.header p {
  font-size: 32px;
  margin-block: 0;
}

.speed {
  /* height: 300px; */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  /* background-color: lightgreen; */
}

.mph-outline {
  position: absolute;
  left: 0;
  z-index: 2;
}

.mph-slider {
}

.mph-level {
  position: absolute;
  left: 10px;
  top: 28px;
  z-index: 1;
}

/* .mph-bar {
  width: 100%;
  height: 50px;
  background-color: black;
  border: 2px solid white;
} old */

.mph-text {
  font-size: 128px;
  margin-block: -60px;
  position: relative;
  top: 140px;
}

.footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 65px;
  justify-content: space-between;
  width: 800px;
}

.lights {
  display: flex;
}

.pedals {
  background-color: red;
  width: 500px;
}

.faults {
  /* background-color: blue; */
  font-size: 36px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fault-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.fault-line p {
  margin-block: 5px;
}

.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: red;
}
